<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>视频管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//cdn.staticfile.org/layui/2.9.1/css/layui.css" rel="stylesheet">
</head>
<body>

    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
          <div class="layui-logo layui-hide-xs layui-bg-black">管理员任务</div>
      
          <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
              <a href="javascript:;">
                <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                Admin
              </a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">Your Profile</a></dd>
                <dd><a href="javascript:;">Settings</a></dd>
                <dd><a href="javascript:;">Sign out</a></dd>
              </dl>
      
          </ul>
        </div>
      
        <div class="layui-side layui-bg-black">
          <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
      
              <li class="layui-nav-item"><a href="/show_user_Task">用户任务管理</a></li>
              <li class="layui-nav-item"><a href="/manage_video">视频管理</a></li>
              <li class="layui-nav-item"><a href="/user_manage">用户管理</a></li>
              <li class="layui-nav-item"><a href="/task_manage">悬赏管理</a></li>
      
            </ul>
          </div>
        </div>
        <div class="layui-body">
          <!-- 内容主体区域 -->

          <div style="padding: 16px;"> 
            <table class="layui-hide" id="test" lay-filter="test"></table>
          </div>


          <!---->
        </div>
        <div class="layui-footer">
          <!-- 底部固定区域 -->
          FaceCompare
        </div>
      </div>
      
      <script src="//cdn.staticfile.org/layui/2.9.1/layui.js"></script>
      <script>
      //JS
      layui.use(['element', 'layer', 'util'], function(){
        var element = layui.element;
        var layer = layui.layer;
        var util = layui.util;
        var $ = layui.$;
      
        //头部事件
        util.event('lay-header-event', {
          menuLeft: function(othis){ // 左侧菜单事件
            layer.msg('展开左侧菜单的操作', {icon: 0});
          },
          menuRight: function(){  // 右侧菜单事件
            layer.open({
              type: 1,
              title: '更多',
              content: '<div style="padding: 15px;">处理右侧面板的操作</div>',
              area: ['260px', '100%'],
              offset: 'rt', // 右上角
              anim: 'slideLeft', // 从右侧抽屉滑出
              shadeClose: true,
              scrollbar: false
            });
          }
        });
      });
      </script>


<!-- 
本「综合演示」包含：自定义头部工具栏、获取表格数据、表格重载、自定义模板、单双行显示、单元格编辑、自定义底部分页栏、表格相关事件与操作、与其他组件的结合等相对常用的功能，以便快速掌握 table 组件的使用。
-->

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button>
    <button class="layui-btn layui-btn-sm" id="dropdownButton">
      用户管理
      <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>

    
  </div>
</script>
<script type="text/html" id="barDemo">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="change_password">修改密码</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete_user">删除用户</a>
  </div>
</script>  
<script src="//cdn.staticfile.org/layui/2.9.1/layui.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
layui.use(['table', 'dropdown'], function(){
  var table = layui.table;
  var dropdown = layui.dropdown;
  
  // 创建渲染实例
  table.render({
    elem: '#test',
    url: './static/json/manager/demo1.json', // 此处为静态模拟数据，实际使用时需换成真实接口
    toolbar: '#toolbarDemo',
    defaultToolbar: ['filter', 'exports', 'print', {
      title: '提示',
      layEvent: 'LAYTABLE_TIPS',
      icon: 'layui-icon-tips'
    }],
    height: 'full-125', // 最大高度减去其他容器已占有的高度差
    css: [ // 重设当前表格样式
      '.layui-table-tool-temp{padding-right: 145px;}'
    ].join(''),
    cellMinWidth: 80,
    //totalRow: true, // 开启合计行
    page: true,
    cols: [[

      { type: 'checkbox', fixed: 'left' },
      { field: 'userid', width: 80, title: 'ID' },
      { field: 'username', width: 80, title: '姓名' },
      { field: 'province', width: 80, title: '地点' },
      { field: 'tel', title: '电话' },
      { fixed: 'right', title: '操作', width: 160, minWidth: 140, toolbar: '#barDemo' }
    ]],
    done: function(){
      var id = this.id;
      // 下拉按钮测试
      dropdown.render({
        elem: '#dropdownButton', // 可绑定在任意元素中，此处以上述按钮为例
        data: [{
          id: 'add',
          title: '添加'
        },{
          id: 'update',
          title: '编辑'
        },{
          id: 'delete',
          title: '删除'
        }],
        // 菜单被点击的事件
        click: function(obj){
          var checkStatus = table.checkStatus(id)
          var data = checkStatus.data; // 获取选中的数据
          switch(obj.id){
            case 'add':
              layer.open({
                title: '添加',
                type: 1,
                area: ['80%','80%'],
                content: '<div style="padding: 16px;">自定义表单元素</div>'
              });
            break;
            case 'update':
              if(data.length !== 1) return layer.msg('请选择一行');
              layer.open({
                title: '编辑',
                type: 1,
                area: ['80%','80%'],
                content: '<div style="padding: 16px;">自定义表单元素</div>'
              });
            break;
            case 'delete':
              if(data.length === 0){
                return layer.msg('请选择一行');
              }
              layer.msg('delete event');
            break;
          }
        }
      });
 
      // 重载测试
    },
    error: function(res, msg){
      console.log(res, msg)
    }
  });
  
  // 工具栏事件
  table.on('toolbar(test)', function(obj){
    var id = obj.config.id;
    var checkStatus = table.checkStatus(id);
    var othis = lay(this);
    switch(obj.event){
      case 'getCheckData':
        var data = checkStatus.data;
        layer.alert(layui.util.escape(JSON.stringify(data)));
      break;
      case 'getData':
        var getData = table.getData(id);
        console.log(getData);
        layer.alert(layui.util.escape(JSON.stringify(getData)));
      break;
      case 'LAYTABLE_TIPS':
        layer.alert('自定义工具栏图标按钮');
      break;
    };
  });
  
  // 表头自定义元素工具事件 --- 2.8.8+

  
  // 触发单元格工具事件
  table.on('tool(test)', function(obj){ // 双击 toolDouble
    var data = obj.data; // 获得当前行数据
    // console.log(obj)
    if(obj.event === 'change_password'){
      layer.prompt({
        formType: 1, // 输入类型，1代表密码框
        title: '请输入新的密码(不少于6位)：',
        area: ['200px', '50px'] // 宽高
      }, function(value, index, elem){
        var newPassword = value; // 获取输入的新密码
        layer.close(index); // 关闭输入框

        if (!newPassword) {
          layer.msg('密码不能为空', {icon: 2});
          return;
        }

        if (newPassword.length < 6) {
          layer.msg('密码长度不低于6位', {icon: 2});
          return;
        }

        if (newPassword.length > 200) {
          layer.msg('密码长度太长了！！！', {icon: 2});
          return;
        }


        // 你可以在这里添加修改密码的逻辑，例如发送一个Ajax请求到后端
        var requestData = { userid: data.userid, newpassword: newPassword };
        $.ajax({
          url: '/change_password',
          method: 'POST',
          data: requestData,
          success: function(response) {
            // 请求成功的处理逻辑
            console.log(response);
            layer.msg('密码修改成功', {icon: 1});
          },
          error: function(error) {
            // 请求失败的处理逻辑
            console.error(error);
          }
        });
      });
    } else if(obj.event === 'delete_user'){
      layer.confirm('删除用户 [id: '+ data.userid +'] 么？', {icon: 3,title:'提示'},function(){
        layer.msg('已删除', {icon: 1});
        var requestData = { userid: data.userid };
        $.ajax({
          url: '/manager_delete_user',
          method: 'POST',
          data: requestData,
          success: function(response) {
            // 请求成功的处理逻辑
            console.log(response);
            obj.del(); // 删除对应行（tr）的DOM结构
          },
          error: function(error) {
            // 请求失败的处理逻辑
            console.error(error);

          }
        });

      }, function(){
        layer.msg('取消确认');
      });
    }
  });
 
  // 触发表格复选框选择
  table.on('checkbox(test)', function(obj){
    console.log(obj)
  });
 
  // 触发表格单选框选择
  table.on('radio(test)', function(obj){
    console.log(obj)
  });
  
  // 行单击事件
  table.on('row(test)', function(obj){
    //console.log(obj);
    //layer.closeAll('tips');
  });
  // 行双击事件
  table.on('rowDouble(test)', function(obj){
    console.log(obj);
  });
 
  // 单元格编辑事件
  table.on('edit(test)', function(obj){
    var field = obj.field; // 得到字段
    var value = obj.value; // 得到修改后的值
    var data = obj.data; // 得到所在行所有键值
    // 值的校验
    if(field === 'email'){
      if(!/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(obj.value)){
        layer.tips('输入的邮箱格式不正确，请重新编辑', this, {tips: 1});
        return obj.reedit(); // 重新编辑 -- v2.8.0 新增
      }
    }
    // 编辑后续操作，如提交更新请求，以完成真实的数据更新
    // …
    layer.msg('编辑成功', {icon: 1});
    
    // 其他更新操作
    var update = {};
    update[field] = value;
    obj.update(update);
  });
});
</script>
</body>
</html>