<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员功能页</title>
</head>


<body>
    <div id="loading">
        <div></div>
        <div></div>
        <span></span>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand"><a href="manager_login.html"></a></div>
            <div class="container-fluid">
                <div class="navbar-btn" style="padding: 0; padding-top: 10px;">
                    <button type="button" style="font-family: 华文楷体;"><a href="user_page.html">个人中心</a></button>
                    <button type="button" style="font-family: 华文楷体;"><a href="logout.html">退出</a></button>
                </div>
            </div>
        </nav>
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="Admin/user_Task.html" target="_blank" class="iframe_link active"><span>用户任务管理</span></a></li>
                        <li><a href="Admin/upload.html" target="_blank" class="iframe_link"><span>视频上传</span></a></li>
                        <li><a href="Admin/user_manange.html" target="_blank" class="iframe_link"><span>用户管理</span></a></li>
                        <li><a href="Admin/pacture_manage.html" target="_blank" class="iframe_link"><span>悬赏管理</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
