<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员功能页</title>
</head>


<body>
    <div id="loading">
        <div></div>
        <div></div>
        <span></span>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand"><a href="manager_login.html"></a></div>
            <div class="container-fluid">
                <div class="navbar-btn" style="padding: 0; padding-top: 10px;">
                    <button type="button" style="font-family: 华文楷体;"><a href="user_page.html">个人中心</a></button>
                    <button type="button" style="font-family: 华文楷体;"><a href="logout.html">退出</a></button>
                </div>
            </div>
        </nav>
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <!-- 审核未通过的悬赏 -->
                        <li><a href="/show_user_Task"><span>用户任务管理</span></a></li> 
 
                        <li><a href="/manage_video" ><span>视频管理</span></a></li>
                        <li><a href="/user_manage"><span>用户管理</span></a></li>
                        <!-- 管理已通过的悬赏 -->
                        <li><a href="/task_manage" ><span>悬赏管理</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
