<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>悬赏管理</title>
    <!-- 引入 layui.css -->
    <link href="//cdn.staticfile.org/layui/2.9.3/css/layui.css" rel="stylesheet">
    <!-- 引入 layui.js -->
    <script src="//cdn.staticfile.org/layui/2.9.3/layui.js"></script>
</head>

<body>
    <!-- 定义页面布局 -->
    <div class="layui-layout layui-layout-admin">

        <!-- 头部 -->
        <div class="layui-header">
            <!-- 头部内容 -->
            <div class="layui-logo">悬赏管理</div>
            <ul class="layui-nav layui-layout-left">
                <!-- 头部左侧菜单 -->
                <li class="layui-nav-item"><a href="">回到主页</a></li>
            </ul>
            <!-- 头部右侧菜单 -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <!-- 头部右侧菜单内容 -->
                        User Name
                    </a>
                    <dl class="layui-nav-child">
                        <!-- 子菜单项 -->
                        <dd><a href="">Change Password</a></dd>
                        <dd><a href="javascript:;">Sign out</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 左侧菜单 -->
        <div class="layui-side layui-bg-black">
            <!-- 左侧菜单内容 -->
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item"><a href="">全部悬赏</a></li>
                    <li class="layui-nav-item"><a href="">我的悬赏</a></li>
                    <li class="layui-nav-item"><a href="">待审核的悬赏</a></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容区域 -->
        <div class="layui-body">
            <!-- 主体内容 -->
            <div style="padding: 16px;">
                <table class="layui-hide" id="content" lay-filter="test"></table>
            </div>
        </div>

        <!-- 底部 -->
        <div class="layui-footer">
            <!-- 底部内容 -->
            &copy; 2024 FaceCompare
        </div>

    </div>

    <!-- 加载模块 -->
    <script type="text/javascript">
        layui.use(['table', 'dropdown'], function(){
            var table = layui.table;
            var dropdown = layui.dropdown;

            table.render({
                elem: "#content",
                url: "reward_data.json",
                cols:[[
                    {field: 'aa', type: 'numbers'},
                    {field: 'aa', type: 'checkbox'},
                    {field: 'name', title: '姓名'},
                    {field: 'age', title: '年龄'},
                    {field: 'province', title: '省份'},
                    {field: 'price', title: '悬赏'}
                ]],
                page: true
            });
        });
    </script>
</body>

</html>